@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
body {
  background: linear-gradient(90deg, hsla(211, 96%, 62%, 1) 0%, hsla(295, 94%, 76%, 1) 100%);
  background-size: 200% 200%;
  animation: auroraAnimation 5s infinite alternate;
  position: relative;
  font-family: 'Mulish',cursive;
}

@keyframes auroraAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 80% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}




.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.gambar {
  width: 10rem;
  margin-top: -8rem;
  border-radius: 50%;
  animation: moveUpDown 2s ease-in-out infinite alternate;
  transition:transform 2s ease-in-out;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-25px);
    }
}

.gambar:hover {
  box-shadow: 0 0 10px rgba(0, 5, 0, 0.5);
  animation: glow 1s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7); /* Adjust the intensity of the glow effect */
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

.preloader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: fixed; /* Fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999; /* Set a high z-index to overlay on top */
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Hide the preloader */
body.loaded .preloader {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.hide {
  display: none;
}


